.country{
    border: 2px solid skyblue;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}
.visited{
    background-color: blueviolet;
    color: whitesmoke;
}

.non-visited{
    background-color: brown;
    color: blueviolet;
}

     
.flags_container img{
width: 150px;
padding: 5px;
object-fit: contain;
}
